body {
    margin: 0px;
    padding: 0;
    font-family: sans-serif;
    background: var(--bg-color);
}

:root {
    --bg-color: #2c2c6c;
    --bg-color-gradient: linear-gradient(90deg, rgba(77, 181, 255, 0.137) 0%, rgba(31,31,56,1) 100%);
    --bg-btn-color:#4db5ff;
    --btn-color: #1f1f38;

    --bg-placeholder: rgb(224, 224, 224);
    --bg-wite: #eee;

    --transition: all ease .5s;
}

.popup {
    position: absolute;
    background: var(--bg-btn-color);
    margin: 0 50%;
    width: 250px;
    padding: 13px;
    text-align: left;
    border-radius: 15px;
    top: 15px;
    transform: translateX(-141px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    z-index: 999;
}

.popup i {
    color: var(--bg-wite);
}

.footer {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 30%;
}

.footer a {
    position: absolute;
    background: var(--bg-btn-color);
    border: 2px solid var(--bg-btn-color);
    right: -9rem;
    top: 3rem;
    padding: 0.5rem 10rem;
    transform: rotateZ(45deg);
    z-index: 999;
    transition: var(--transition);
    text-decoration: none;
}

.footer a:hover {
    background: transparent;
    color: var(--bg-btn-color);
}

section {
    background: var(--bg-color-gradient);
    width: 100%;
    min-height: 100vh;
    animation: slide .6s ease-in-out both;
}

.home,.login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
    
}

.title {
    margin-bottom: 50px;
}

.home h2, .home p {
    color: var(--bg-wite);
    margin: 10px 0;
}

.btn {
    border: 1px solid var(--bg-btn-color);
    border-radius: 0.4rem;
    color: var(--btn-color);
    cursor: pointer;
    padding: 0.75rem 1.2rem;
    transition: all .4s ease;
    transition: var(--transition);
    text-decoration: none;
    background: var(--bg-btn-color);
}

.btn:hover,
.btn-second:hover{
    background: var(--bg-wite);
    color: var(--btn-color);
    border: 1px solid var(--bg-wite);
}

.btn-second {
    border: 1px solid var(--bg-btn-color);
    border-radius: 0.4rem;
    color: var(--bg-btn-color);
    cursor: pointer;
    padding: 0.75rem 1.2rem;
    transition: all .4s ease;
    transition: var(--transition);
    text-decoration: none;
    background: transparent;
}

.btn-form {
    border: 1px solid var(--bg-btn-color);
    border-radius: 0.4rem;
    color: var(--bg-wite);
    cursor: pointer;
    padding: 0.75rem 1.2rem;
    transition: all .4s ease;
    transition: var(--transition);
    text-decoration: none;
    background: var(--bg-btn-color);
    font-weight: bold;
}

.btn-form:hover {
    color: var(--bg-btn-color);
    background: transparent;
    
}

/*login*/

form {
    background: var(--bg-wite);
    padding: 35px;
    border-radius: 1rem;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    margin-bottom: 35px;
}

form a {
    text-decoration: none;
    color: var(--bg-btn-color);
}

form input {
    border: none;
    border-radius: .5rem;
    padding: 10px;
    background: var(--bg-placeholder);
}

form input::placeholder {
    margin: 0;
}

/*cliente*/

.navbar {
    position: absolute;
    background: transparent;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 40px;
    font-weight: bold;
    color: var(--bg-wite);
}

.links {
    margin-right: 40px;
}

.links a {
    text-decoration: none;
    margin-left: 20px;
    color: var(--bg-wite);
    transition: var(--transition);
}

.links a.active {
    background: var(--bg-wite);
    padding: 5px 10px;
    color: var(--bg-color);
    border-radius: 5px;
}

.links a:hover {
    background: var(--bg-wite);
    padding: 5px 10px;
    color: var(--bg-color);
    border-radius: 5px;
}

.profile-area {
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile-area img {
    margin-top: 90px;
    margin-bottom: -147px;
    height: 243px;
    width: 243px;
    width: 243px;
    border-radius: 50%;
    display: inline-block;
    border: 8px solid var(--bg-wite);
    object-fit: cover;
    background: var(--bg-wite);
}

.cliente form {
    z-index: 1;
}

.cliente img {
    z-index: 2;
}

.cliente form p {
    margin-top: 100px;
}

/*agendar*/

.agenda-area{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 150px;
}

select, textarea{
    border: none;
    border-radius: .5rem;
    padding: 10px;
    background: var(--bg-placeholder);
}

/*agendamentos*/

.agendamentos-area{
    padding-top: 135px;
    margin: 0 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.agendamentos-area form {
    max-width: 200px;
}

.agendamentos-area input {
    text-align: center;
}


/*animation*/

@keyframes slide {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
    }
    100% {
        opacity: 1;
        transform: rotateZ(0);
    }
}